{% extends "base.html" %}

<div class="col-md-10">
    {% block content %}
        <h3>Search Results</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                            <th>Name</th>
                            <th>Artists</th>
                            <th>Album</th>
                            <th></th>
                            <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in tracks %}
                        <tr>
                            <td>{{ track.name }}</td>
                            <td>{{ track.artists[0].name }}</td>
                            <td>{{ track.album.name }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ url_for('add_to_queue', link=track.link) }}">Add to Queue</a>
                            </td>
                            <td>
                                <a class="btn btn-success" href="{{ url_for('play_track', link=track.link) }}">Play Now</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock content %}
</div>